@charset "UTF-8";
.h_container {
	margin-left: 19%;
}
.all_1 {
	font-size: 18px;
}
.ekqquso , .ekqqusx {
	margin-top: 3%;
}
.list li b {
	margin-left: 1%;
}
.list{
	margin-left: 14%;
}
.ekqqus_title{
	display: inline-block;
}
.pagination {
		justify-content: center;
	}
	
	
.header {
	background-color: #F6F7F9;
	height: 247px;
	padding: 60px 0px 30px;
	
}

.all_container{
		margin-left: 20%;
	}

.h_container2 {
	border: none;
	width: 30px;
	display: inline-block;
	height: 66px;
	background-color: white;
	border-radius: 7px;
}

.search {
	width: 350px;
	height: 66px;
	font-size: 20px;
	border: none;
	border-radius: 7px;
	position: absolute;
}

img {
	margin-top: 20px;
}

.header2 {
	background-color: #F6F7F9;
}

.h_bottom {
	margin-left: 100px;
}

.list li {
	display: inline-block;
	width: 87px;
}



.h_underline {
	margin-top: 20px;
	border: solid;
	height: 3px;
}


.all_1 a {
	color: black;
	width: 200px;
}

.ekqqus_title li{
	display: inline-block;
	width: 400px;
	font-weight: bold;
}

#oo , #xx{
	color: #787878;
}
