@charset "UTF-8";


	#CS_container {
		margin-left : 10%;
		margin-right : 10%;
		width : 80%;
		display:flex;
	}
	
	#CS_left_aside {
		flex: 3;
		padding-left: 10%;
	}
	
	#CS_left_aside > div {
		font-size:1.5em;
		font-weight: bold;
	}
	
	#CS_left_aside > div a {
		color: gray;
	}
	#CS_left_aside > div a:hover {
		color: black;
		background-color:#ff4d54;
	}
	
	#CS_left_aside li {
		list-style-type: none;
	}

	#CS_content {
		flex:7;
		width:100%;
		padding-right:20%;
	}
	
a {
	text-decoration: none;
}
 
.full_table {
	width: 100%;
	border-spacing : 0px;
	border-collapse: collapse;
}

.full_table .contentTitle hr {
	height: 3px;
	background-color:#ff4d54;
	border-top: 0px;
	opacity: 100%;
}
 
.q_title::before {
	display: inline-block;
	content: 'Q';
	color: #ff4d54;
}

.question{
	padding: 15px;
	border-bottom: 1px solid gray;
	cursor: pointer;
}

.question.show > span {
	font-weight: bold;
}

.answer {
	display: none;
	background-color: rgb(240, 240, 240);
	padding: 20px;
}

.answer > div {
	padding : 20px;
	border-radius: 10px;
	background-color: rgb(225, 225, 225);
}

.q_arrow-wrap {
	display: inline-block;
	float: right;
	clear: both;
}

.question .q_arrow-top {
	display: none;	
}

.question .q_arrow-botton {
	display: block;
}

.question.show .q_arrow-top {
	display: block;
}

.question.show .q_arrow-bottom {
	display: none;
}


.noticeCate{
	display : inline;
	font-size: 1.2em;
}

.noticeTitle {
	display : inline;
	font-size: 1.3em;
	font-weight: bold;
}

.noticeRegdate {
	display :inline;
	float: right;
	clear: left;
}

.noticeContent {
	
	background-color: rgb(240, 240, 240);
	padding : 20px;
	margin : 10px;
	
}

.noticeBtn {
	display :inline;
	float: right;
	clear: left;
}

.noticeArticles {
	font-size: 0.8em;
	padding : 10px;
}

#noticeTable nav{
	display : inline-block;
}

.FAQ_cate {
	display: inline-block;
	cursor : pointer;
	text-align: center;
	padding: 10px;
}
.FAQ_cate:hover {
	background-color:#ff4d54;
}

.FAQ_menu {
	border-bottom: 1px solid lightgray; 
	height: 100%;
}

.FAQ_menu .selected {
	background-color:#ff4d54;
}


#PQ_table_th {
	display: flex;
	padding: 15px;
	border-bottom: 1px solid lightgray; 
}

#PQ_Accordian_wrap {
	width : 100%;
}

#PQ_Accordian_wrap > div.question {
	display: flex;
}
#PQ_Accordian_wrap > div.question span:nth-child(1) {
	flex : 1;
	text-align:center;
}
#PQ_Accordian_wrap > div.question span:nth-child(2) {
	flex : 6;
	text-align:center;
}
#PQ_Accordian_wrap > div.question span:nth-child(3) {
	flex : 2;
	text-align:center;
}
#PQ_Accordian_wrap > div.question span:nth-child(4) {
	flex : 1;
	text-align:center;
}

#PQ_table_th span:nth-child(1) {
	flex: 1;
	text-align:center;
}
#PQ_table_th span:nth-child(2) {
	flex: 6;
	text-align:center;
}
#PQ_table_th span:nth-child(3) {
	flex: 2;
	text-align:center;
}
#PQ_table_th span:nth-child(4) {
	flex: 1;
	text-align:center;
}

#PQ_write_button {
	text-align : right;
	padding: 15px;
}

.btn-primary {
    color: #fff !important;
    background-color: #ff8589 !important;
    border-color: #e74349 !important;
}

.btn-primary:hover {
	background-color: #ff4d54 !important;
    border-color: #e74349 !important;
}

.btn-primary:active{
    color: #fff;
    background-color: #ff4d54;
    border-color: #ff4d54;
}

.btn-primary:disabled {
    color: #fff;
    background-color: #d1565b;
    border-color: #d1565b;
}

.btn-outline-primary {
    color: #e74349 !important;
    border-color: #e74349 !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #ff4d54 !important;
    border-color: #e74349 !important;
}

.btn-outline-primary:active {
	color: #fff;
    background-color: #ff4d54;
    border-color: #ff4d54;
}

.btn-outline-primary:disabled {
	color: #d1565b;
    background-color: transparent;
    border-color: #d1565b;
}


